.header {
    width: 100%;
    margin: 0 auto;
    height: 90px;
    padding: 9px 0 9px 0;
    background: white;
}

.logo {
    float: left;
    margin: 15px 0;
}

.logoo:hover {
    opacity: 0.7;
}

.menu-bar {
    float: right;
    margin: 30px 0;
    font-weight: bold;
    font-family: HelveticaNeueLight;
    height: 30px;
}

.home {
    float: left;
    color: #525252;
    border-left: 1px #525252 solid;
    padding-left: 15px;
    margin: 6px 15px;
}

.home a {
    text-decoration: none;
    color: #525252;
}

.home a:hover {
    color: #CC4B57;
}

.myButton {
    background-color: #CC4B57;
    border-radius: 4px;
    border: 1px solid #CC4B57;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 6px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
    position: relative;
}

.myButton:hover {
    background-color: #eb675e;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.dugme {
    float: left;
    margin: 0 15px 0 0;
    color: #525252;
}

@media only screen and (max-width:768px) {
    .header {
        margin: 0 auto;
        padding: 0;
        float: none;
    }
    .myButton {
        background-color: #CC4B57;
        border-radius: 4px;
        border: 1px solid #CC4B57;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 13px;
        padding: 5px 17px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #b23e35;
    }
}

@media only screen and (max-width: 414px) {
    .header {
        width: 100%;
        margin: 0 auto;
        height: 45px;
        padding: 3px 0 3px 0;
        background: white;
    }
    .logo {
        float: left;
        margin: 8px 0;
    }
    .logoo {
        width: 120px;
        height: 40px;
    }
    .menu-bar {
        float: right;
        margin: 0;
        font-weight: bold;
        font-family: HelveticaNeueLight;
        height: 30px;
        margin: 8px 0;
    }
    .home {
        float: left;
        color: #525252;
        border-left: 1px #525252 solid;
        padding-left: 2px;
        margin: 0 4px;
        font-size: 11px;
        position: relative;
        top: 13px;
    }
    .myButton {
        font-size: 10px;
        padding: 3px 10px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #b23e35;
        position: relative;
        top: 11px;
    }
}